*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    list-style: none;
}

:root{
    --main_font: Roboto, Arial, sans-serif;
    --font_style2: Montserrat, Arial, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

ul {
    margin-top: 20px;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
}

#quiz-heading{
    padding: 2.4em 2.4em 1.1em 2.4em;
    width: 100%;
    min-width: 100%;
    /* text-align: center; */
    /* border:1px solid green; */
}

#quiz-heading h3{
    font-family: var(--font_style2);
    font-size: 1.35em;
}

#quiz-heading ul li {
    font-family: var(--main_font);
    font-size: 1em;
    margin-bottom: 17px;
}

#quiz-heading ul li label{
    cursor: pointer;
}

/* ul li:last-child{
    margin-bottom: 50em;
} */


#quiz-container{
    background-color: #ffffff;
    border-radius: 20px;
    /* border: 1px solid red; */
    width: 30em;
    max-width: 100%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}


button{
    display: block;
    width: 100%;
    padding: 1.4em;
    font-family: var(--font_style2);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    background-color: #2ecc71;
    text-transform: uppercase;
    color: #ecf0f1;
}

button:hover{
    cursor: pointer;
    background-color: #27ae60;
    transition: 0.8s ease 0s;
}


